<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Edit Profile</h1>

    <div class="well">
      <form role="form" ng-submit="vm.saveProfile()">
	<div class="form-group" ng-class="{'has-error': vm.email_error}">
	  <label for="email">Email</label>
	  <input type="email" class="form-control" id="email"
		 ng-model="vm.user.email_pending"
		 placeholder="Must be a valid email address" />
	  <div class="error" ng-bind="vm.email_error"></div>
	</div>

	<div class="form-group" ng-class="{'has-error': vm.username_error}">
	  <label for="username">Username</label>
	  <input type="text" class="form-control" id="username"
		 ng-model="vm.user.username"
		 placeholder="1-20 alphanumeric, undersore, or dash characters" />
	  <div class="error" ng-bind="vm.username_error"></div>
	</div>

	<div ng-show="vm.user.has_password"
	     ng-class="{'has-error': vm.old_password_error}">
	  <div class="form-group">
	    <label for="old_password">Old Password</label>
	    <input type="password" class="form-control" id="old_password"
		   ng-model="vm.old_password"
		   placeholder="Leave blank to keep old password" />
	    <div class="error" ng-bind="vm.old_password_error"></div>
	  </div>

	  <div class="form-group"
	       ng-class="{'has-error': vm.new_password_error}">
	    <label for="new_password">New Password</label>
	    <input type="password" class="form-control" id="new_password"
		   ng-model="vm.new_password"
		   placeholder="4-20 characters"/>
	    <div class="error" ng-bind="vm.new_password_error"></div>
	  </div>

	  <div class="form-group"
	       ng-class="{'has-error': vm.verify_password_error}">
	    <label for="verify_password">New Password Again</label>
	    <input type="password" class="form-control" id="verify_password"
		   ng-model="vm.verify_password" />
	    <div class="error" ng-bind="vm.verify_password_error"></div>
	  </div>
	</div>

	<div class="form-group" ng-class="{'has-error': vm.misc_error}">
	  <button type="submit" class="btn btn-primary">Save Profile</button>
	  <div class="error" ng-bind="vm.misc_error"></div>
	</div>
      </form>
      <button class="btn btn-primary"
	      ng-show="!vm.verified_email && !vm.verifyEmailSentMsg"
	      ng-click="vm.sendVerificationEmail( )">
	Resend Email Verification
      </button>
      <p>{{ vm.verifyEmailSentMsg }}</p>
    </div>
  </div>
</div>
