<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>

    <div class="well">
      <form role="form" ng-submit="vm.login()">
	<div class="form-group" ng-class="{'has-error': vm.error}">
	  <label for="login__username_or_email">Username or Email</label>
	  <input type="text" class="form-control" id="login__username_or_email"
		 ng-model="vm.username_or_email" />
	</div>

	<div class="form-group">
	  <label for="login__password">Password</label>
	  <input type="password" class="form-control" id="login__password"
		 ng-model="vm.password" />
	  <div class="error" ng-bind="vm.error"></div>
	  <a href="{{vm.passwordResetPath}}">Forgot password?</a>
	</div>

	<div class="form-group">
	  <button type="submit" class="btn btn-primary">Login</button>
	</div>
      </form>
      <button ng-click="vm.socialLogin( 'Facebook' )">Facebook Login</button>
      <button ng-click="vm.socialLogin( 'Google' )">Google Login</button>
      <div class="error" ng-bind="vm.social_error"></div>
    </div>
  </div>
</div>
