<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Password Reset</h1>

    <div class="well">
      <form role="form" ng-submit="vm.resetPassword()">
	<div class="form-group" ng-class="{'has-error': vm.email_error}">
	  <label for="password_reset__email">Email</label>
	  <input type="text" class="form-control" id="password_reset__email"
		 ng-model="vm.email" />
	  <div class="error" ng-bind="vm.email_error"></div>
	</div>

	<div class="form-group">
	  <button type="submit" class="btn btn-primary"
		  ng-show="!vm.passwordResetSentMsg">Reset Password</button>
	  <div class="error" ng-bind="vm.misc_error"></div>
	  <p>{{ vm.passwordResetSentMsg }}</p>
	</div>
      </form>
    </div>
  </div>
</div>
