<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>

    <div class="well">
      <form role="form" ng-submit="vm.register()">
	<div class="form-group" ng-class="{'has-error': vm.email_error}">
	  <label for="register__email">Email</label>
	  <input type="email" class="form-control" id="register__email"
		 ng-model="vm.email"
		 placeholder="Must be a valid email address" />
	  <div class="error" ng-bind="vm.email_error"></div>
	  <a ng-show="vm.display_forgotten_password"
	     href="{{vm.passwordResetPath}}">Forgot password?</a>
	</div>

	<div class="form-group" ng-class="{'has-error': vm.username_error}">
	  <label for="register__username">Username</label>
	  <input type="text" class="form-control" id="register__username"
		 ng-model="vm.username"
		 placeholder="1-20 alphanumeric, underscore, or dash characters" />
	  <div class="error" ng-bind="vm.username_error"></div>
	</div>

	<div class="form-group" ng-class="{'has-error': vm.password_error}">
	  <label for="register__password">Password</label>
	  <input type="password" class="form-control" id="register__password"
		 ng-model="vm.password" placeholder="4-20 characters"/>
	  <div class="error" ng-bind="vm.password_error"></div>
	</div>

	<div class="form-group"
	     ng-class="{'has-error': vm.verify_password_error}">
	  <label for="register__verify_password">Password again</label>
	  <input type="password" class="form-control"
		 id="register__verify_password" ng-model="vm.verify_password"/>
	  <div class="error" ng-bind="vm.verify_password_error"></div>
	</div>

	<div class="checkbox">
	  <label>
	    <input type="checkbox" ng-model="vm.checkbox">
	    This box must be checked to register
	  </label>
	  <div class="error" ng-bind="vm.checkbox_error"></div>
	</div>

	<div class="form-group">
	  <button type="submit" class="btn btn-primary">Submit</button>
	</div>
      </form>
      <button ng-disabled="!vm.fbInit( )"
	      ng-click="vm.socialLogin( 'Facebook' )">Facebook Login</button>
      <button ng-click="vm.socialLogin( 'Google' )">Google Login</button>
      <div class="error" ng-bind="vm.social_error"></div>
    </div>
  </div>
</div>
