<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Set Password</h1>

    <div class="well">
      <form role="form" ng-submit="vm.setPassword()">
	<div class="form-group"
	     ng-class="{'has-error': vm.new_password_error}">
	  <label for="new_password">New Password</label>
	  <input type="password" class="form-control" id="new_password"
		 ng-model="vm.new_password" />
	  <div class="error" ng-bind="vm.new_password_error"></div>
	</div>

	<div class="form-group"
	     ng-class="{'has-error': vm.verify_password_error}">
	  <label for="verify_password">New Password Again</label>
	  <input type="password" class="form-control" id="verify_password"
		 ng-model="vm.verify_password" />
	  <div class="error" ng-bind="vm.verify_password_error"></div>
	</div>

	<div class="form-group">
	  <button type="submit" class="btn btn-primary"
		  ng-show="!vm.setPasswordDone">Save Password</button>
	  <div class="error" ng-bind="vm.misc_error"></div>
	  <p ng-show="vm.setPasswordDone">
	    Password has been reset. You should now be able to
	    <a href="/login">login</a> with your new password.
	  </p>
	</div>
      </form>
    </div>
  </div>
</div>
