<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Add {{vm.provider}} Login to Account</h1>

    <div class="well">
      <form role="form" ng-submit="vm.login()">
	<div class="form-group">
	  <label for="email">Email</label>
	  <p class="form-control-static">{{vm.user.email_verified}}</p>
	</div>

	<div class="form-group">
	  <label for="username">Username</label>
	  <p class="form-control-static">{{vm.user.username}}</p>
	</div>

	<div class="form-group" ng-class="{'has-error': vm.password_error}">
	  <label for="password">Password</label>
	  <input type="password" class="form-control" id="register__password"
		 ng-model="vm.password"/>
	  <div class="error" ng-bind="vm.password_error"></div>
	</div>

	<div class="form-group">
	  <button type="submit"
		  class="btn btn-primary">Merge and Login</button>
	  <div class="error" ng-bind="vm.misc_error"></div>
	</div>
      </form>
    </div>
  </div>
</div>
